<img src="assets\img\home cabecera.jpg" class="img_cabecera">
<div class="container">
  <h1>LA CIUDAD DE LOS HÉROES</h1>

  <p>A continuación tenemos algunos de los superhéroes presentándose:</p>
  <ul>
    <li><em>"Son las decisiones las que nos hacen ser quienes somos, y siempre podemos optar por hacer lo correcto." </em>
      <a [routerLink]="['/detall-heroes', 6]">Spider-man</a></li>
      <li><em>"Cualquier cosa que vea en mi mente, la puedo crear. Solo tengo que concentrarme." </em>
        <a [routerLink]="['/detall-heroes', 5]">Linterna Verde</a></li>
      <li><em>"El destino establece las cartas, nosotros sólo las jugamos de la mejor manera posible." </em>
        <a [routerLink]="['/detall-heroes', 7]">Lobezno</a></li>
  </ul>
  
  <div class="mt-5 mb-5 text-center">
    <button [routerLink]="['/heroes']" type="button" class="btn btn-outline-secondary">Más información</button>
  </div>





</div>
